*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  /* padding-inline:20px; */
}
.flex{
    display: flex;
    align-items: center;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* //// */
/* all Fonts */
/* //// */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&display=swap');
