.Slider-section {
  background-color: #f7f5ee;
  padding: 20px 10px;

}

.scroll-card {
  min-width: 300px;
  min-height: 356px;
  height: 300px;

  background: #fff;
  border: 2px solid black;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 10px;
  cursor: pointer;
  padding: 10px;

  transition: all 0.25s ease;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.18);

  &:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, 0.07);
  }

  h4 {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
  }

    .scroll-card-text {
    padding: 20px 10px;
    p {
      font-size: 0.8rem;
      opacity: 0.6;
      margin-top: 10px;
    }
    h2{
        font-weight: 900;
    }
  }



  .scroll-card-img {
    // transform: translate(90px, -10px);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.35s ease-out;
    // background-color: red;
    border-radius: 5px;
    // margin: 20px 20px;
    background: cover;
    overflow: hidden;
    // width: 100%;
    height: 200px;

    img {
      height: fit-content;
      width: fit-content;
      overflow: hidden;
    }

    
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding: 20px 0px;
    scroll-behavior: smooth;

    // for Annoying default scrollbar horizontal
    &::-webkit-scrollbar {
      height: 0px;
    }

    // &:after {
    //   content: '';
    //   display: block;
    //   min-width: 20px;
    //   height: 100px;
    //   position: relative;
    // }
  }

}
.Scroll-heading-buttons {

    .Scroll-Heading{
        display: flex;
        flex-direction: row;
        gap: 10px;
        h1{
            width: 100%;
            font-size: 45px;
        }
        p{
            width: 100%;
            font-size: 20px;
            color: #757575;
        }
        padding: 20px 0;
    }

    .Scroll-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 20px;

    button {
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
     .scroll-button-right{
            border: 1px solid black;
            background-color: black;

        }
         .scroll-button-left{
            border: 1px solid black;
            background-color: transparent;

        }
  }
}

