.main-container {
  height: 100vh;
  background-color: white;
  // background-color: #419edb;
  // background: url('https://img.freepik.com/premium-vector/confetti-concept-design-holiday-happy-day-background-celebration_29865-1734.jpg?w=2000') ;
  // background-size: 600px;

  // display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  // position: relative;

  .main-section {
    // font-family: 'Golos Text', sans-serif;
    height: 100%;
    width: 75%;
    // position: fixed;
    background-color: rgba(255, 255, 255, 1);
    margin: 30px 0;

    // box-shadow: 7px 7px 15px -5px;
    box-shadow: 1px 17px 35px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;

    .image-section {
      height: 100%;
      width: 50%;
      background: transparent;

      img {
        background-size: cover;
        height: 100%;
        width: 100%;
      }
    }
    .form-section {
      height: 100%;
      width: 50%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;

      .main-form {
        // background-color: yellow;
        width: 80%;
        height: 70%;
        left: 100px;
        text-align: initial;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin: 10px;
          width: 75%;
          font-size: 30px;
          font-weight: 500;
        }
        h4 {
          color: rgb(113, 113, 113);
          margin: 10px;
          width: 75%;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .input-form {
        display: flex;
        // background-color: red;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin: 20px 0;
        width: 100%;

        input {
          width: 75%;
          overflow: hidden;
          height: 45px;
          border: 1px solid grey;
          padding: 0 10px;
          font-size: 17px;
          font-weight: 500;
          border-radius: 5px;
        }
        input::placeholder {
          font-weight: 500;
        }
        input:focus {
          outline: none;
          //    outline-color: black;
          //   border: 1px;
        }
        .Forgot-password-section {
          width: 75%;

          a {
            font-size: 15px;
            font-weight: 600;
            text-align: initial;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
.flex {
  display: flex;
  align-items: center;
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 45px;
  border: none;
  // margin: 10px 0;
  //   background-color: #7743db;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.Register-button {
  display: flex;
  align-items: center;
  justify-content: center;

  // margin: 10px 0;
  width: 75%;
  height: 45px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;

  text-decoration: none;
  color: black;
  cursor: pointer !important;

  .not-member {
    color: black;
    text-decoration: none;
  }

  //   color: black;
}
// .copyright-section {
//   bottom: 10px;
//   font-weight: 500;
// }
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  img {
    pointer-events: none;
  }
}

.toggle-password-button-section {
  //  width: 10px!important;
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  .toggle-password-button {
    background-color: transparent;
    border: none;

    text-decoration: underline;
  }
}
